<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>NAVER_LOGIN_CLIENT_ID</key>
	<string>$(NAVER_LOGIN_CLIENT_ID)</string>
	<key>NAVER_LOGIN_CLIENT_SECRET</key>
	<string>$(NAVER_LOGIN_CLIENT_SECRET)</string>
	<key>NAVER_LOGIN_URL_SCHEMA</key>
	<string>$(NAVER_LOGIN_URL_SCHEMA)</string>
</dict>
</plist>
